.card-footer{
    border-top: 1px solid #e8e8e8;
    padding-top: 9px;
    margin-top: 8px;
}
.card-row{
    .cm-card{
        font-size: 13px;
    }
}

.card-tab{
    margin-top: -5px;
}
.cm-tab-tools a{
    padding: 4px!important;
    &.active{
        color: #57AFFF;
    }
}

.rank-wrap{
    padding: 10px;
    .rank-list{
        margin-top: 20px;
        list-style: none;
        li{
            height: 25px;
            line-height: 25px;
        }
    }
}

.cursor-pointer{
    cursor: pointer;
}

.cm-table > tbody > tr > td, .cm-table > thead > tr > th{
    padding: 8px;
}